@model IEnumerable<DemoSignalR.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@section Scripts{

    <script>


            //$(() => {
            //    LoadProdData();
            //    var connection = new signalR.HubConnectionBuilder().withUrl("/signalrServer").build();

            //    connection.start();
            //    connection.on("LoadEmployees", function () {
            //        LoadProdData();
            //    })

            //    LoadProdData();


            //    function LoadProdData() {
            //        var tr = '';

            //        $.ajax({
            //            url: '/Employees/GetEmployees',
            //            method: 'GET',
            //            success: (result) => {
            //                $.each(result, (k, v) => {
            //                    tr += `<tr>
            //                            <td>${v.EmpName}</td>
            //                            <td>${v.Salary}</td >
            //                            <td>${v.DeptName}</td>
            //                            <td>${v.Designation}</td>
            //                            <td>
            //                            <a href='../Employees/Edit?id=${v.EmpId}'>Edit</a>
            //                            <a href='../Employees/Details?id=${v.EmpId}'>Details</a>
            //                            <a href='../Employees/Delete?id=${v.EmpId}'>Delete</a>
            //                            </td>
            //                           <tr>`
            //                })
            //                $("#tableBody").html(tr);
            //            },
            //            error: (error) => { console.log(error) }
            //        });
            //    }


            //})

    </script>
    <script src="~/js/site.js"></script>
    @*   <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script type="text/javascript" src="/signalr/hubs"></script>*@
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Employee name</th>
            <th>Salary</th>
            <th>Dept name</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

